.hidden {
  display: none !important;
}

.hidden-two {
  display: none;
}

.container {
  max-width: 575px;
  margin: 0 auto;

  /* background-color: rgba(0, 0, 0, 0.607); */
  background-color: #fdf0d5;
}

.container-two {
  margin: 0 20px;
  background-color: #fdf0d5;
}

.row {
  text-align: center;
  width: 50%;
  margin: auto;
}

.full-row {
  width: 100%;
  margin: auto;
  text-align: center;
}

.new-row {
  text-align: left;
  width: 39%;
  margin: auto;
}

.modal-row {
  margin: auto;
  width: 100%;
  margin-top: 15%;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
