header {
  background: rgb(164, 34, 34);
  color: white;
  text-align: center;
  padding: 10px 0;
}

body {
  background: rgb(31, 28, 28);
}

.view {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.feature-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  width: 50%;
  margin: auto;
}

.feature-input {
  color: white;
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.feature-input>label,
.feature-input>input,
.feature-input>select {
  width: 100%;
}

.stat-sheet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat {
  width: calc(100%/ 3.3);
}

.stat>label,
.stat>select {
  width: 100%;
}
